@model IEnumerable<MenuSemaine_Core.Models.Plat>

<ul class="list-group">
    @foreach (var item in Model)
    {
    <li class="list-group-item list-group-item-action">
        <span>@item.Name</span>
        &nbsp;-&nbsp;
        <span>@item.Type</span>
    </li>
    }
</ul>