@model IEnumerable<MenuSemaine_Core.Models.Plat>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        <h1>Not data</h1>
    </p>
}